<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-huawei-swatchapn" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>HuaWeiSwatchApnPlugin</name>
	<js-module name="HuaWeiSwatchApnPlugin" src="www/HuaWeiSwatchApnPlugin.js">
		<clobbers target="cordova.plugins.HuaWeiSwatchApnPlugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="HuaWeiSwatchApnPlugin">
				<param name="android-package" value="cordova-plugin-huawei-swatchapn.HuaWeiSwatchApnPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/HuaWeiSwatchApnPlugin.java" target-dir="src/cordova-plugin-huawei-swatchapn/HuaWeiSwatchApnPlugin" />
		<lib-file src="src/android/lib/hwMdm.jar"/>
	</platform>
</plugin>